---
- hosts: app02
  become: true
  vars_files:
    - vars/default.yml

  tasks:

    - name: Ensure old versions of Docker are not installed.
      package:
        name:
          - docker
          - docker-engine
        state: absent

    - name: Ensure packages are installed 
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - gnupg2
          - docker.io
        state: present
      tags:
      - packages

    - name: Ensure Docker is started and enabled at boot.
      service:
        name: docker
        state: "{{ docker_service_state }}"
        enabled: "{{ docker_service_enabled }}"
      tags:
      - service

    - name: Ensure docker users are added to the docker group.
      user:
        name: "{{ item }}"
        groups: docker
        append: true
      with_items: "{{ docker_users }}"
      tags:
      - users

  handlers:
      - name: restart docker
        service:
          name: docker
          state: restarted

